<div class="modal fade" id="address_modal" tabindex="-1" role="dialog" aria-labelledby="address_modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="address_modal_title">Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ url_for('save_address') }}" id="address-form">
                    <input type="hidden" name="address_id" id="address_id">
                    <div class="form-group">
                        <label for="street">Street:</label>
                        <input type="text" class="form-control" name="street" id="street" placeholder="Street" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" name="city" id="city" placeholder="City ">
                    </div>
                    <div class="form-group">
                        <label for="state">State:</label>
                        <input type="text" class="form-control" name="state" id="state" placeholder="State" required>
                    </div>
                    <div class="form-group">
                        <label for="country">Country:</label>
                        <input type="text" class="form-control" name="country" id="country" placeholder="Country"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="pincode">Pincode</label>
                        <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Pincode">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_default" id="is_default">
                        <label class="form-check-label" for="is_default">Set as default</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn search-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn button" onclick="submitAddressForm()">Save changes</button>
            </div>
        </div>
    </div>
</div>