

    <!-- Footer -->

    <footer class="a-footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Delivery</a></li>
                        <!-- <li><a href="#">Return of books</a></li> -->
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>About</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Catalog</h4>
                    <ul>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Featured</a></li>
                        <li><a href="#">Classics</a></li>
                    </ul>
                </div>
                <div class="footer-col">

                    <h4>Contact</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
