@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Marcellus&family=Marcellus+SC&display=swap');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #089da1;
  --secondary-color:  #007d81;
  --font-family: 'Quicksand', 'Arial, sans-serif';
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Marcellus', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

form a,
.show-more-btn,
.order-details {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  cursor: pointer;
}

form a:hover,
.show-more-btn:hover,
.order-details:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

button {
  font-weight: 500 !important;
}

.button {
  background-color: var(--primary-color);
  color: #fff;
}

.button:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.search-btn,
.explore-btn {
  color: var(--secondary-color);
  border: 1px solid #ced4da;
  background: #fff;
}

.search-btn:hover,
.explore-btn:hover {
  color: var(--secondary-color);
  background: #e4ebeb;
}

.nav-link {
  font-weight: 500;
}

.dropdown-item:active{
  background-color: var(--primary-color);
}

.hero {
  background-image:
    linear-gradient(to right, rgba(1, 89, 92, 0.6), rgba(255, 255, 255, 0)),
    url("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
  width: 100%;
  color: #fff;
  text-shadow: #0f234fc2 1px 2px 4px;
}

.featured-books {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  gap: 1em;
}

.featured-books .card {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100%;
}

.card:hover {
  box-shadow: #00000020 0px 2px 4px;
}

.featured-books .card img {
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: contain;
  margin-top: 1em;
}

.card .card-title,
.card p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card .price {
  font-weight: 500;
}

.table tbody td.product-thumbnail {
  width: 100px !important;
  min-width: 90px !important;
}

.table th.wide-column,
.table td.wide-column {
  min-width: 240px;
}

.table tbody td {
  padding: 1em 0;
  margin-right: 1em;
}

.table th,
.table td {
  min-width: 60px;
  border: none;
}

.table td {
  vertical-align: middle;
}

.table td.del-btn {
  min-width: 40px !important;
}

.table tr:hover {
  background-color: #f8f8f8;
  ;
}

.table img {
  width: 50%;
}

.quantity__minus,
.quantity__plus,
.quantity__input {
  display: block;
  width: 24px;
  height: 36px;
  margin: 0;
  border-radius: 4px;
  border: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
}

.quantity__plus {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}

.quantity__minus {
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

.quantity__input {
  width: 36px;
  height: 36px;
  color: #000000;
  border-radius: 0;
}

.quantity__minus:hover,
.quantity__plus:hover {
  background: #f5f5f5;
}

.quantity__minus:disabled,
.quantity__minus:disabled:hover {
  background: #eeeeee;
}

.book-rating i {
  font-size: 20px;
  margin-right: 4px;
}

.book-rating .fa-star.filled,
.book-rating .fa-star-half-alt.filled {
  color: #ffc107 !important;
}

.book-rating .fa-star:not(.fa-star-half-alt) {
  color: #ccc;
}

.description {
  max-height: 125px;
  overflow: hidden;
}

.description.expanded {
  max-height: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.products .products-card {
  width: 30%;
}

.products img {
  width: 100%;
  padding: 16px 16px 0;
  object-fit: contain;
  aspect-ratio: 1;
}

.products .card-body {
  padding: 16px 10px;
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.page-item .page-link {
  color: var(--secondary-color);
}

.filters {
  gap: 1em;
}

#list-tab a {
  background-color: #f5f5f5;
  display: flex;
  min-width: 125px;
}

#list-tab .active {
  background-color: var(--primary-color);
}

.order-header {
  gap: 60px;
}


.flash-overlay {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: 80%;
  max-width: 500px;
}

#goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, .125);
  outline: none;
  background-color: #fff;
  color: #333;
  box-shadow: #00000020 0px 2px 4px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 0.25rem;
  font-size: 20px;
}

#goTopBtn:hover {
  background-color: #f8f8f8;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width:1200px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .hero .flex-column {
    width: 75% !important;
  }

  .product-page .book-cover {
    width: 50% !important;
  }

  .product-page .col-lg-4 div {
    margin-bottom: 0 !important;
  }

  .order-header {
    gap: 48px;
  }


  .profile-tabs {
    flex-direction: row !important;
    flex-wrap: nowrap;
    overflow: auto;
    border-radius: 0.25rem !important;
  }

  .profile-tabs a {
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: 0 !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  p,
  h5 {
    font-size: 16px !important;
  }

  footer a {
    font-size: 1em !important;
    margin-right: 0 !important;
  }

  .container{
    margin: auto 0.5em;
    max-width: 97% !important;
    margin-top: 20px !important;
    padding: 16px 0 !important;
  }

  .hero h1{
    font-size: 48px !important;
  }

  .hero .flex-column,
  .hero .row {
    width: 100% !important;
    padding: 16px !important;
  }

  .hero p {
    width: 75% !important;
  }

  .hero button{
    padding: .375rem .75rem;
    font-size: 1em;
  }
  .featured-books {
    padding: 0 16px;
  }

  .featured-books .card {
    width: 200px;
    height: 100%;
  }

  .featured-books .card .card-body {
    padding: 10px;
  }

  .featured-books .card .card-title,
  .card-body p {
    margin-bottom: 5px;
  }

  .featured-books .card img {
    margin-top: 10px;
  }

  .table th.wide-column,
  .table td.wide-column {
    min-width: 100px !important;
  }

  .table tbody td.product-thumbnail {
    min-width: 40px !important;
  }

  .table img {
    width: 70% !important;
  }

  .product-page .lead {
    font-size: 1.5em !important;
  }

  .book-rating i {
    font-size: 1em;
    margin-right: 2px;
  }

  .products {
    gap: 1em;
  }

  .products .products-card {
    width: 47%;
  }

  .filters {
    gap: 0.75em;
  }

  .order-header {
    gap: 16px;
  }

}