@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #089da1;
  --secondary-color: #28a745;
  --tertiary-color: #007d81;
  --font-family: 'Quicksand', 'Arial, sans-serif';
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Marcellus', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  /* color: var(--secondary-color); */
}

a:hover {
  text-decoration: none;
  color: #000;
}

form a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: 500;
}

form a:hover {
  text-decoration: underline;
  color: var(--tertiary-color);
}

button {
  font-weight: 500 !important;
}

.button {
  background-color: var(--primary-color);
  color: #fff;
}

.button:hover {
  background-color: var(--tertiary-color);
  color: #fff;
}

.search-btn,
.explore-btn {
  color: var(--tertiary-color);
  border: 1px solid #ced4da;
  background: #fff;
}

.search-btn:hover,
.explore-btn:hover {
  color: var(--tertiary-color);
  background: #e4ebeb;
}

.hero {
  background-image:
    linear-gradient(to right, rgba(33, 96, 104, 0.6), rgba(255, 255, 255, 0)),
    url("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  color: #fff;
  text-shadow: #0f234fc2 1px 2px 4px;
}

.featured-books {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  gap: 1em;
}

.featured-books .card {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100%;
}

.featured-books .card:hover {
  box-shadow: #00000020 2px 2px 4px;
}

.featured-books .card img {
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: contain;
  margin-top: 1em;
}

.featured-books .card .card-title,
.card p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.featured-books .card .price {
  font-weight: 600;
}

.featured-books .card .card-footer:hover {
  background: #00000010;
  cursor: pointer;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width:1200px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .hero .flex-column {
    width: 75% !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 32px !important;
  }

  p,
  h5 {
    font-size: 16px !important;
  }

  .hero .flex-column,
  .hero .row {
    width: 100% !important;
    padding: 16px !important;
  }

  .hero p {
    width: 75% !important;
  }

  .featured-books {
    padding: 0 16px;
  }

  .featured-books .card {
    width: 160px;
    height: 100%;
  }

  .featured-books .card .card-body {
    padding: 10px;
  }

  .featured-books .card .card-title,
  .card-body p {
    margin-bottom: 5px;
  }

  .featured-books .card img {
    margin-top: 10px;
  }

  .container {
    margin-top: 20px !important;
    padding: 16px 0 !important;
  }
}