{% extends 'layout.html' %}

{% block title %}Server Error{% endblock %}

{% block content %}

<div class="container my-5 py-5" style="min-height: 80vh;">
    <div class="text-center m-auto p-4 my-4 shadow-sm"
        style="width: fit-content; border: 1px solid #e6e8eb; border-radius: 0.5em;">
        <img src="{{ url_for('static', filename = '500-Server-Error.svg') }}" alt="500-Server-Error" style="width: 200px;">
            <h3 class="text-dark">Server Error</h3>
            <p class="text-muted">There was an internal server error. Please try again later.</p>
            <a href="{{ url_for('home') }}">
            <button class="btn mt-2 mb-4 px-4 button">Go to Home</button>
        </a>
    </div>
</div>

{% endblock %}