{% extends 'layout.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="container mb-5 py-5" style="min-height: 80vh;">
    {% if cart_books %}
    <h2 class="text-center">Your Cart</h2>
    <div class="row py-4 ">
        <div class="col-lg-7 px-0 mr-lg-5">
            <div class="row g-0">
                <div class="col-12 p-0">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <!-- <thead>
                                <tr>
                                    <th>&nbsp</th>
                                    <th class="text-start">Product</th>
                                    <th>Quantity</th>
                                    <th>Total price</th>
                                    <th>Delete</th>
                                </tr>
                            </thead> -->
                            <tbody>
                                {% for book in cart_books %}
                                <tr style="border-bottom: 1px solid #e6e8eb;">
                                    <td class="product-thumbnail text-center">
                                        <img src="{{  book.Image_URL_L  }}" alt="{{ book.Book_Title }}">
                                    </td>

                                    <td class="product-name text-start wide-column">
                                        <h5 class="m-0">
                                            <a href="/shop/{{  book.isbn  }}">
                                                {{ book.Book_Title }}
                                            </a>
                                        </h5>
                                        <p class="text-muted">
                                            {{ book.Book_Author }}
                                        </p>
                                    </td>
                                    <!-- <td class="product-price text-center text-secondary">
                                        ₹ {{ book.price }}
                                    </td> -->

                                    <td class="product-quantity">
                                        <div class="d-flex mx-2">
                                            <form method="post" action="{{ url_for('update_cart') }}">
                                                <input type="hidden" name="action" value="decrement">
                                                <input type="hidden" name="isbn" value="{{ book.isbn }}">
                                                <button type="submit" class="quantity__minus" {% if book.book_count==1
                                                    %}disabled{% endif %}>
                                                    -
                                                </button>
                                            </form>

                                            <form method="post" action="{{ url_for('update_cart') }}">
                                                <input type="hidden" name="action" value="set">
                                                <input type="hidden" name="isbn" value="{{ book.isbn }}">
                                                <input name="quantity" class="quantity__input"
                                                    value="{{ book.book_count }}">
                                            </form>

                                            <form method="post" action="{{ url_for('update_cart') }}">
                                                <input type="hidden" name="action" value="increment">
                                                <input type="hidden" name="isbn" value="{{ book.isbn }}">
                                                <button type="submit" class="quantity__plus">+</button>
                                            </form>
                                        </div>
                                    </td>

                                    <td class="product-total-price text-center" style="font-weight: 500;">
                                        ₹ {{ book.book_count*book.price }}
                                    </td>

                                    <td class="text-start del-btn">
                                        <form method="post" action="{{ url_for('update_cart') }}">
                                            <input type="hidden" name="action" value="delete">
                                            <input type="hidden" name="isbn" value="{{ book.isbn }}">
                                            <button type="submit" class="btn">
                                                <i class="fa fa-remove" title="Delete"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-3 p-0">
            <div style="background: #f5f5f5; border-radius: 0.25rem;">
                <div class="cart-totals p-4">
                    <h4 class="text-center mb-4">Cart Total</h4>
                    <div class="cart-calculator ">
                        <div class="d-flex justify-content-between">
                            <p class="">Subtotal</p>
                            <p class="" id="subtotal" style="font-weight: 500;">
                                ₹ {{ cart_total }}
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="">Delivery</p>
                            <p class="" style="font-weight: 500;">
                                <span style="text-decoration: line-through; color: #777;">₹ 40</span>
                                <span style="color: var(--secondary-color);">Free</span>
                            </p>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex justify-content-between mt-4" style="font-size: 20px; font-weight: 600;">
                            <p class="mb-0">Total</p>
                            <p class="mb-0" id="total">
                                ₹ {{ cart_total }}
                            </p>
                        </div>
                    </div>
                </div>

                <a href="{{ url_for('checkout') }}">
                    <button class="btn w-100 button btn-lg" style="padding: 0.75em;">
                        Proceed to checkout</button>
                </a>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container p-5">
        <div class="my-5 p-5">
            <div class="text-center m-auto p-5 shadow-sm"
                style="width: fit-content; border: 1px solid #e6e8eb; border-radius: 0.5em;">
                <h3 class="text-muted">Your cart is empty</h3>
                <a href="{{ url_for('home') }}">
                    <button class="btn mt-2 btn-lg px-4 button">Back to Home</button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}