{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="hero">
    <div class="container col-xxl-8">
        <div class="row flex-lg-row align-items-start g-5 py-5">
            <div class="flex-column w-50 py-4 px-lg-2 px-sm-4">
                <h1 class="display-4 lh-1 mb-3 text-uppercase">
                    Discover Your Next Adventure</h1>
                <p class="lead mb-4" style="font-weight: 400;">
                    Every book has the power to transport you to new worlds. Whether you’re seeking a thrilling mystery,
                    a heartwarming romance, or an inspiring biography, we have something for every reader.
                </p>
                <a href="{{ url_for('shop') }}">
                    <button type="button" class="btn explore-btn btn-lg px-4 mb-4">
                        Explore books
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container mt-4 py-4">
    <a href="{{ url_for('shop_category', category='new') }}">
        <h1 class="text-center mb-3">New Arrivals</h1>
    </a>

    <div class="featured-books">

        {% for book in new %}

        <div class="py-4">
            <div class="products-card ">
                <div class="card">
                    <a href="/shop/{{book.isbn}}">
                        <img src="{{  book.Image_URL_L  }}" class="card-img-top" alt="{{ book.book_title }}">
                    </a>
                    <div class="card-body">
                        <a href="/shop/{{book.isbn}}">
                            <h5 class="card-title mb-1" title="{{ book.book_title }}">{{ book.book_title }}</h5>
                        </a>

                        <p class="card-text mb-2">{{ book.book_author }}</p>
                        <p class="card-text price lead">₹ {{ book.price }}</p>

                        <div class="d-flex justify-content-between">
                            <form method="post" action="{{ url_for('update_cart') }}" class="w-100 mr-2">
                                <input type="hidden" name="action" value="add">
                                <input type="hidden" name="isbn" value="{{ book.isbn }}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="btn button w-100">
                                    Add to cart
                                </button>
                            </form>

                            <form method="post"
                                action="{{ '/deletefromwishlist' if book['wish'] else '/addtowishlist' }}">
                                <input type="hidden" name="isbn" value="{{ book['isbn'] }}" />
                                <button type="submit" class="btn search-btn">
                                    {% if book['wish'] %}
                                    <i class="fa-solid fa-heart"></i>
                                    {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="py-4 d-flex align-items-center">
            <div class="d-flex justify-content-center" style="width: 120px">
                <a href="{{ url_for('shop_category', category='new') }}">
                    <button class="btn search-btn">
                        View more
                    </button> </a>
            </div>
        </div>
    </div>
</section>

<section class="container mt-3 py-4">
    <a href="{{ url_for('shop_category', category='featured') }}">
        <h1 class="text-center mb-3">Featured</h1>
    </a>
    <div class="featured-books">

        {% for book in featured %}

        <div class="py-4">
            <div class="products-card ">
                <div class="card">
                    <a href="/shop/{{book.isbn}}">
                        <img src="{{  book.Image_URL_L  }}" class="card-img-top" alt="{{ book.book_title }}">
                    </a>
                    <div class="card-body">
                        <a href="/shop/{{book.isbn}}">
                            <h5 class="card-title mb-1" title="{{ book.book_title }}">{{ book.book_title }}</h5>
                        </a>

                        <p class="card-text mb-2">{{ book.book_author }}</p>
                        <p class="card-text price lead">₹ {{ book.price }}</p>

                        <div class="d-flex justify-content-between">
                            <form method="post" action="{{ url_for('update_cart') }}" class="w-100 mr-2">
                                <input type="hidden" name="action" value="add">
                                <input type="hidden" name="isbn" value="{{ book.isbn }}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="btn button w-100">
                                    Add to cart
                                </button>
                            </form>

                            <form method="post"
                                action="{{ '/deletefromwishlist' if book['wish'] else '/addtowishlist' }}">
                                <input type="hidden" name="isbn" value="{{ book['isbn'] }}" />
                                <button type="submit" class="btn search-btn">
                                    {% if book['wish'] %}
                                    <i class="fa-solid fa-heart"></i>
                                    {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        <div class="py-4 d-flex align-items-center">
            <div class="d-flex justify-content-center" style="width: 120px">
                <a href="{{ url_for('shop_category', category='featured') }}">
                    <button class="btn search-btn">
                        View more
                    </button> </a>
            </div>
        </div>
    </div>
</section>

<section class="container mt-3 py-4">
    <a href="{{ url_for('shop_category', category='classic') }}">
        <h1 class="text-center mb-3">Classics</h1>
    </a>
    <div class="featured-books">

        {% for book in classic %}

        <div class="py-4">
            <div class="products-card ">
                <div class="card">
                    <a href="/shop/{{book.isbn}}">
                        <img src="{{  book.Image_URL_L  }}" class="card-img-top" alt="{{ book.book_title }}">
                    </a>
                    <div class="card-body">
                        <a href="/shop/{{book.isbn}}">
                            <h5 class="card-title mb-1" title="{{ book.book_title }}">{{ book.book_title }}</h5>
                        </a>

                        <p class="card-text mb-2">{{ book.book_author }}</p>
                        <p class="card-text price lead">₹ {{ book.price }}</p>

                        <div class="d-flex justify-content-between">
                            <form method="post" action="{{ url_for('update_cart') }}" class="w-100 mr-2">
                                <input type="hidden" name="action" value="add">
                                <input type="hidden" name="isbn" value="{{ book.isbn }}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="btn button w-100">
                                    Add to cart
                                </button>
                            </form>

                            <form method="post"
                                action="{{ '/deletefromwishlist' if book['wish'] else '/addtowishlist' }}">
                                <input type="hidden" name="isbn" value="{{ book['isbn'] }}" />
                                <button type="submit" class="btn search-btn">
                                    {% if book['wish'] %}
                                    <i class="fa-solid fa-heart"></i>
                                    {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        <div class="py-4 d-flex align-items-center">
            <div class="d-flex justify-content-center" style="width: 120px">
                <a href="{{ url_for('shop_category', category='classic') }}">
                    <button class="btn search-btn">
                        View more
                    </button> </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}