{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Main Wrapper Start -->
<div class="wrapper">

    <main class="main-content-wrapper">
        <!-- Slider area Start -->
        <section class="homepage-slider mb--75 mb-md--55">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div id="site">
                            <div class="col-lg-6 col-md-12 site-title text-dark">
                                <h1 class="title-text text-uppercase"
                                    style="font-size: 48px; font-weight: bold; margin: 20px 0;">
                                    BOOKS WILL EXPAND YOUR KNOWLEDGE
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
                                    harum, tempora corrupti quisquam vero qui facere consequatur
                                    repudiandae, inventore voluptas tempore ad doloribus. Voluptatum
                                    totam ducimus, aliquid ipsam sapiente illum!
                                </p>
                                <div class="site-buttons" style="margin: 20px 0;">
                                    <a href="{{ url_for('shop') }}" class="site-buttons">
                                        <div class="d-flex flex-row flex-wrap">
                                            <button type="button" class="btn button btn-success mr-4"
                                                style="margin: 20px o; width: 200px; padding: 10px 0;">
                                                Explore
                                            </button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Slider area End -->


        <div class="arrivals_books">

            <h1>New Arrivals</h1>

            <div class="featured_book_box">

                {% for book in new %}
                <div class="featured_book_card">
                    <a href="shop/{{book.isbn}}">
                    <div class="featurde_book_img">
                        <img src="{{  book.Image_URL_L  }}">
                    </div>

                    <div class="featurde_book_tag">
                        <h2>{{ book.book_title }}</h2>
                        <p class="writer">{{ book.book_author }}</p>
                        <!-- <div class="categories">Thriller, Horror, Romance</div> -->
                        <p class="book_price text-secondary">₹ {{ book.price }}</p>
                        <a href="shop/{{book.isbn}}" class="f_btn">Learn More</a>
                    </div>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>


        <!-- Features -->


        <div class="featured_books">

            <h1>Featured Books</h1>

            <div class="featured_book_box">

                {% for book in featured %}
                <div class="featured_book_card">
                    <a href="shop/{{book.isbn}}">

                    <div class="featurde_book_img">
                        <img src="{{  book.Image_URL_L  }}">
                    </div>

                    <div class="featurde_book_tag">
                        <h2>{{ book.book_title }}</h2>
                        <p class="writer">{{ book.book_author }}</p>
                        <!-- <div class="categories">Thriller, Horror, Romance</div> -->
                        <p class="book_price text-secondary">₹ {{ book.price }}</p>
                        <a href="shop/{{book.isbn}}" class="f_btn">Learn More</a>
                    </div>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>

        <!--Classics-->
        <div class="classics_books">

            <h1>Classics</h1>

            <div class="featured_book_box">

                {% for book in classic %}
                <div class="featured_book_card">
                    <a href="shop/{{book.isbn}}">

                    <div class="featurde_book_img">
                        <img src="{{  book.Image_URL_L  }}">
                    </div>

                    <div class="featurde_book_tag">
                        <h2>{{ book.book_title }}</h2>
                        <p class="writer">{{ book.book_author }}</p>
                        <!-- <div class="categories">Thriller, Horror, Romance</div> -->
                        <p class="book_price text-secondary">₹ {{ book.price }}</p>
                        <a href="shop/{{book.isbn}}" class="f_btn">Learn More</a>
                    </div>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>
    </main>

    <style>
        ul {
            margin-inline: -35px;
            list-style: none;
        }
    </style>

{% endblock %}