{% extends 'layout.html' %}

{% block title %}Order placed{% endblock %}

{% block content %}
  <div class="wrapper">


    <div class="main-content-wrapper">
        <div class="page-content-inner pt-md-40 pb-md-60" style="padding-top: 80px;padding-bottom: 80px; ">
             <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-content table-responsive">
                                    <div class="text-center m-4">
                                        <h1>Order placed!</h1>
                                        <a href="{{ url_for('home') }}">
                                        <button class="btn btn-size-md mt-2">Back to Home</button>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>






<style>

.btn-fullwidth {
    display: block;
    width: 100%;
}
.btn-size-md {
    padding: 16px 30px;
}
.btn {
    color: #ffffff;
    background-color: #089da1;
    padding: 20px 40px;
}

 .row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
body {
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.a-footer{
    margin-top: 450px;
}

</style>








    



















{% endblock %}