{% extends 'layout.html' %}

{% block title %}{{ book['book_title'] }}{% endblock %}

{% block content %}
<section class="container my-2 product-page">
    <div class="row">

        <div class="col-lg-5 pr-0">
            <div class="p-4 p-lg-5 text-center">
                <img src="{{  book['Image_URL_L']  }}" alt="{{  book['book_title']  }}"
                    class="book-cover w-100 mx-5 m-md-0" style="border-radius: 0.5em;">
            </div>
        </div>

        <div class="col-lg-7 mt-lg-5 mt-3 px-4">
            <h1 class="book-title">{{ book['book_title'] }}</h1>
            <h4 class="text-muted">by {{ book['book_author'] }}</h4>
            <div class="book-rating d-flex align-items-center">
                {% for i in range(1, 6) %}
                <i class="fas 
                {% if i <= book['ratings'] %}fa-star filled
                  {% elif i - 0.5 <= book['ratings'] < i %}fa-star-half-alt filled
                  {% else %}fa-star
                  {% endif %}"></i>
                {% endfor %}
                <p class="mb-0 mx-2 lead" style="font-size: 24px; font-weight: 500;">{{ book['ratings'] }}</p>
                <p class="mb-0 text-muted">{{ book['num_ratings'] }} ratings</p>
            </div>

            <p class="lead my-3" style="font-size: 2em; font-weight: 500;">₹ {{ book['price'] }}</p>

            <div class="d-md-flex text-center mt-2" style="gap:1em">
                <form method="post" action="{{ url_for('update_cart') }}">
                    <input type="hidden" name="action" value="add">
                    <input type="hidden" name="isbn" value="{{ book.isbn }}">
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="button btn w-100 py-3 px-5 my-lg-2 my-1">
                        <i class="fa-solid fa-cart-shopping mr-1"></i>
                        Add to cart
                    </button>
                </form>

                <form method="post" action="{{ '/deletefromwishlist' if wishlist else '/addtowishlist' }}">
                    <input type="hidden" name="isbn" value="{{ book['isbn'] }}" />
                    <button type="submit" class="explore-btn w-100 btn py-3 px-4 my-lg-2 my-1">
                        {% if wishlist %}
                        <i class="fa-solid fa-heart mr-2"></i>Remove from wishlist
                        {% else %}
                        <i class="fa-regular fa-heart mr-2"></i>Add to wishlist
                        {% endif %}
                    </button>
                </form>
            </div>

            <div class="description-container mt-4">
                <p class="description mb-0">
                    {{ description if description else "No description available"}}
                </p>
                <span class="show-more-btn" onclick="toggleDescription()"> Show more</span>
            </div>

            <p class="text-muted mt-4">
                Published by {{ book['publisher'] }} ({{ book['year_of_publication'] }})
            </p>
        </div>
    </div>
</section>

<section class="container py-4">
    <h2 class="text-center mb-3">You might also like</h2>
    <div class="featured-books">

        {% for book in more %}

        <div class="py-4">
            <div class="products-card ">
                <div class="card">
                    <a href="/shop/{{book.isbn}}">
                        <img src="{{  book.Image_URL_L  }}" class="card-img-top" alt="{{ book.book_title }}">
                    </a>
                    <div class="card-body">
                        <a href="/shop/{{book.isbn}}">
                            <h5 class="card-title mb-1" title="{{ book.book_title }}">{{ book.book_title }}</h5>
                        </a>

                        <p class="card-text mb-2">{{ book.book_author }}</p>
                        <p class="card-text price lead">₹ {{ book.price }}</p>

                        <div class="d-flex justify-content-between">
                            <form method="post" action="{{ url_for('update_cart') }}" class="w-100 mr-2">
                                <input type="hidden" name="action" value="add">
                                <input type="hidden" name="isbn" value="{{ book.isbn }}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="btn button w-100">
                                    Add to cart
                                </button>
                            </form>

                            <form method="post"
                                action="{{ '/deletefromwishlist' if book['wish'] else '/addtowishlist' }}">
                                <input type="hidden" name="isbn" value="{{ book['isbn'] }}" />
                                <button type="submit" class="btn search-btn">
                                    {% if book['wish'] %}
                                    <i class="fa-solid fa-heart"></i>
                                    {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</section>

{% endblock %}