{% extends 'layout.html' %}

{% block title %}Your profile{% endblock %}

{% block content %}

<div class="container mt-5">
	<div class="row">
		<div class="col-lg-3 mb-4">
			<div class="list-group profile-tabs" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="profile-into-list" data-toggle="list"
					href="#profile-into" role="tab" aria-controls="profile">Profile information</a>
				<a class="list-group-item list-group-item-action" id="order-history-list" data-toggle="list"
					href="#order-history" role="tab" aria-controls="orders">Order history</a>
				<a class="list-group-item list-group-item-action" id="wishlist-list" data-toggle="list" href="#wishlist"
					role="tab" aria-controls="wishlist">Wishlist</a>
				<a class="list-group-item list-group-item-action" id="saved-addresses-list" data-toggle="list"
					href="#saved-addresses" role="tab" aria-controls="address">Saved addresses</a>
				<a class="list-group-item list-group-item-action" id="change-password-list" data-toggle="list"
					href="#change-password" role="tab" aria-controls="security">Change password</a>
			</div>
		</div>

		<div class="col-lg-9" style="min-height: 75vh;">
			<div class="tab-content" id="nav-tabContent">
				<!-- Profile Information -->
				<div class="tab-pane fade show active" id="profile-into" role="tabpanel"
					aria-labelledby="profile-into-list">
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h3 class="mb-0">Profile Information</h3>
						<button class="btn button m-0" data-toggle="modal" data-target="#editProfileModal">
							<span style="font-size: 14px;"><i class="fa-regular fa-pen-to-square mr-1"></i> </span> Edit
						</button>
					</div>

					<div class="card">
						<div class="card-body">
							<h4 class="card-title">
								<i class="fa fa-user mx-2 text-black-50"></i>
								{{ user.first_name }} {{user.last_name }}
							</h4>
							<hr>
							<p class="card-text">Email:
								<span class="text-black ml-3">{{ user.user_email }}</span>
							</p>
							<hr>
							<p class="card-text">Phone:
								<span class="text-black ml-2">{{ user.phone }}</span>
							</p>
						</div>
					</div>
				</div>

				<!-- Order History -->
				<div class="tab-pane fade" id="order-history" role="tabpanel" aria-labelledby="order-history-list">
					<h3 class="mb-4">Order History</h3>

					{% for order in orders %}
					<div class="card mb-4">
						<div class="card-header d-flex justify-content-between align-items-start" style="gap:16px">
							<div class="d-flex align-items-start order-header" style="font-size:14px">
								<div><span class="text-muted">Order placed </span>
									<br> {{ order['order_date'].date() }}
								</div>
								<div>
									<span class="text-muted">Total</span>
									<br> ₹ {{ order['total_amount'] }}
								</div>
								<div>
									<span class="text-muted">Ship to</span>
									<br> {{ order['name'] }}
								</div>
								<div>
									<span class="text-muted">Status</span>
									<br> {{ order['status'] }}
								</div>
							</div>
							<div style="font-size: 14px;">
								<span class="text-muted">Order ID {{ order['order_id'] }}</span>
								<br> <a href="/order_confirmation/{{ order.order_id }}"
									class="order-details font-weight-normal">View order details</a>
							</div>
						</div>
						<ul class="list-group list-group-flush">
							{% for item in order['order_items'] %}
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="d-flex ">
									<img src="{{  item.Image_URL_L  }}" alt="{{ item.Book_Title }}"
										style="width: 50px;">
									<div class="d-flex flex-column ml-3">
										<h5 class="card-title mb-0">{{ item.Book_Title }}</h5>
										<p class="text-muted mb-0">₹ {{ item.price }}</p>
										<p class="text-muted" style="font-size: 14px;">Qty: {{ item.quantity }}</p>
									</div>
								</div>
								<p class="lead" style="font-weight: 400;">₹ {{ item.price * item.quantity}}</p>
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endfor %}
				</div>

				<!-- Wishlist -->
				<div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-list">
					<h3>Wishlist</h3>

					<table class="table mt-4" style="border: 1px solid #e6e8eb; border-radius: 0.5em;">
						<!-- <thead>
							<tr>
							<th>Product Image</th>
							<th class="text-start">Product</th>
							<th>Price</th>
							<th>Add to cart</th>
							<th>&nbsp</th>
							</tr>
							</thead> -->
						<tbody>
							{% for book in wishlist %}
							<tr style="border-bottom: 1px solid #e6e8eb;">
								<td class="product-thumbnail text-center">
									<img src="{{  book.Image_URL_L  }}" alt="{{ book.Book_Title }}">
								</td>
								<td class="product-name text-start wide-column">
									<h5 class="m-0">
										<a href="/shop/{{  book.isbn  }}">{{ book.Book_Title }}</a>
									</h5>
									<p class="text-muted mb-0">by {{ book.Book_Author }}</p>
								</td>
								<td class="product-price">₹ {{ book.Price }}</td>
								<td class="text-center">
									<form method="post" action="{{ url_for('update_cart') }}">
										<input type="hidden" name="action" value="add">
										<input type="hidden" name="isbn" value="{{ book.isbn }}">
										<input type="hidden" name="quantity" value="1">
										<button type="submit" class="button btn"></button>
									</form>
								</td>
								<td class="text-start del-btn">
									<form method="post" action="/deletefromwishlist">
										<input type="hidden" name="isbn" value="{{ book.isbn }}" />
										<button type="submit" class="btn btn-sm">
											<i class="fa fa-remove" title="Delete"></i></button>
									</form>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<!-- Saved Addresses -->
				<div class="tab-pane fade" id="saved-addresses" role="tabpanel" aria-labelledby="saved-addresses-list">
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h3 class="mb-0">Saved Addresses</h3>
						<button class="btn button m-0" onclick="populateAddressForm(null)" data-toggle="modal"
							data-target="#address_modal">
							<span style="font-size: 12px;"><i class="fa fa-plus mr-1"></i></span>
							New address</button>
					</div>

					<ul class="list-group">
						{% for address in addresses if address.is_deleted == False %}

						<li class="list-group-item d-flex justify-content-between align-items-center">
							<p class="mb-0">
								{{ address.street }}, {{ address.city }}, {{ address.state }}, {{ address.pincode }}
								{% if address.is_primary %}
								<span class="badge badge-pill badge-primary ml-2"
									style="background-color: var(--primary-color);">Default</span>
								{% endif %}
							</p>

							<div class="d-flex">
								<button class="btn search-btn btn-sm" onclick="populateAddressForm({{ address }})"
									data-toggle="modal" data-target="#address_modal">Edit</button>
								<form method="post" action="/delete_address">
									<input type="hidden" name="address_id" value="{{ address.address_id }}" />
									<button type="submit" class="btn btn-sm">
										<i class="fa fa-remove" title="Delete"></i></button>
								</form>
							</div>
						</li>

						{% endfor %}
					</ul>
				</div>

				<!-- Security Settings -->
				<div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-list">
					<h3>Change Password</h3>
					<form id="security-form" action="{{ url_for('change_password') }}" method="post" class="mt-4">
						<div class="form-group">
							<label for="password">Current Password:</label>
							<input type="password" class="form-control" name="current_password">
						</div>
						<div class="form-group">
							<label for="password">New Password:</label>
							<input type="password" class="form-control" name="new_password">
						</div>
						<div class="form-group">
							<label for="password">Confirm Password:</label>
							<input type="password" class="form-control" name="confirm">
						</div>
						<button type="submit" class="btn button">Change Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->
{% include 'includes/_addressmodal.html' %}
{% include 'includes/_editprofile.html' %}

{% endblock %}