{% extends 'layout.html' %}

{% block title %}Wishlist{% endblock %}

{% block content %}
<div class="container mb-5 py-5" style="min-height: 80vh;">
    {% if wishlist_books %}
    <h2 class="text-center">Your wishlist</h2>
    <div class="row py-4">
        <div class="col-lg-8">
            <div class="row g-0">
                <div class="col-12">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <!-- <thead>
                                <tr>
                                <th>Product Image</th>
                                <th class="text-start">Product</th>
                                <th>Price</th>
                                <th>Add to cart</th>
                                <th>&nbsp</th>
                                </tr>
                            </thead> -->
                            <tbody>
                                {% for book in wishlist_books %}
                                <tr>
                                    <td class="product-thumbnail text-center">
                                        <img src="{{  book.Image_URL_L  }}" alt="{{ book.Book_Title }}">
                                    </td>

                                    <td class="product-name text-start wide-column">
                                        <h5 class="m-0">
                                            <a href="/shop/{{  book.isbn  }}">
                                                {{ book.Book_Title }}
                                            </a>
                                        </h5>
                                        <p class="text-muted">
                                            {{ book.Book_Author }}
                                        </p>
                                    </td>

                                    <td class="product-price">
                                        ₹ {{ book.Price }}
                                    </td>

                                    <td class="text-center">
                                        <form method="post" action="/addtocart">
                                            <input type="hidden" name="isbn" value="{{ book.isbn }}" />
                                            <input type="hidden" name="quantity" value="1" />
                                            <button type="submit" class="button btn">
                                                <!-- <i class="fa fa-plus mr-1"></i> -->
                                                Add to cart</button>
                                        </form>
                                    </td>

                                    <td class="text-start del-btn">
                                        <form method="post" action="/deletefromwishlist">
                                            <input type="hidden" name="isbn" value="{{ book.isbn }}" />
                                            <button type="submit" class="btn">
                                                <i class="fa fa-remove" title="Delete"></i></button>
                                        </form>
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4 px-4 px-lg-0">
            <a href="{{ url_for('cart') }}">
                <button class="btn w-100 button btn-lg" style="padding: 0.75em;">
                    Go to cart</button>
            </a>
        </div>

        {% else %}
        <div class="container p-5">
            <div class="my-5 p-5">
                <div class="text-center m-auto p-5 shadow-sm"
                    style="width: fit-content; border: 1px solid #e6e8eb; border-radius: 0.5em;">
                    <h3 class="text-muted">Your wishlist is empty</h3>
                    <a href="{{ url_for('home') }}">
                        <button class="btn mt-2 btn-lg px-4 button">Back to Home</button>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}